[general]
NEW_RELIC_APP_NAME = Your Project Name
NEW_RELIC_API_KEY = abcabcabc

[develop]
DOCKER_IMAGE_NAME = folder/your-project-name
ROOT_PASSWORD = 123123
SECRET_KEY = abcabc

[staging]
DOCKER_IMAGE_NAME = developername/your-project-name
REDEPLOY_TRIGGER = https://push-to-this-url-to-redeploy.example.com/

[production]
DOCKER_IMAGE_NAME = developername/your-project-name
# no redeploy trigger, we want to redeploy manually
