# Handle urllib3 InsecurePlatformWarning
requests[security]
ndg-httpsclient
pyasn1
six>=1.10.*

# Django!
# Please install Django using your own requirements.txt
psycopg2~=2.6.1

# running the server
gunicorn

# monitoring
newrelic
raven

# unit tests
coverage
unittest-xml-reporting
cobertura-clover-transform
freezegun
